<html>
    <head>
        <title>RegEx Validation Web App</title>
    </head>
    <body>
        <form action="/validate" method="POST">
            <span><%= messages.username %></span> </br>
            <input type="text" name="username" class="username" id="username" placeholder="username"> </br>
            <span><%= messages.email %></span> </br>
            <input type="text" name="email" class="email" id="email" placeholder="email"> </br>
            <span><%= messages.password %></span> </br>
            <input type="password" name="password" class="password" id="password" placeholder="password"> </br>
            <span><%= messages.confirmpassword %></span> </br>
            <input type="password" name="confirmpassword" class="confirmpassword" id="confirmpassword" placeholder="confirm password"> </br>            
            <span><%= messages.mobilenumber %></span> </br>
            <input type="text" name="mobilenumber" class="mobilenumber" id="mobilenumber" placeholder="mobilenumber"> </br>            
            <span><%= messages.birthdate %></span> </br>
            <input type="text" name="birthdate" class="birthdate" id="birthdate" placeholder="MM/DD/YYYY"> </br>
            <span><%= messages.postalcode %></span> </br>
            <input type="text" name="postalcode" class="postalcode" id="postalcode" placeholder="postal code"> </br>
            <input type="submit" class="submit" value="Check"></br>
        </form>

    </body>
</html>